@import "tailwindcss";

#root, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .title-shadow {
    font-size: 10rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2); /* Semi-transparent shadow */
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  